@import './style.css';
@import './jquery-ui.min.css';

$base-color: #033039;
$primary-color: #033039;
$background-color: #E9F3F5;

$base-font: "HKGrotesk", "Helvetica", "Arial";

@font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgroteskbold.woff");
  font-weight: bold;
  }

  @font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgrotesklight.woff");
  font-weight: light;
  }

  @font-face {
  font-family: "HKGrotesk";
  src: url("../public/fonts/hkgroteskregular.woff");
  font-weight: regular;
  }
  
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font;
  color: $base-color;
}

.authors {
  color: #aaa;
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase;

}


.info {
  color: #666;
  font-size: 0.8em;
  font-weight: normal;
}

.info span {
  color: black;
}

.title h5 {
  text-transform: uppercase;
  font-size: 0.9em
}

a {
  color: $base-color;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  display: block;
  text-align: center;
}

.face {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 15px 25px -20px rgba(0,0,0,.8);
  margin: 15px 15px;
  transition: transform .2s;
}

.face:hover {
  transform: scale(1.1);
  z-index: 2;

}
.face img {
  width: 50%;
  pointer-events: none;
}

.face .video {
  position: absolute;
  left: 0;
  width: 50%;
  z-index: 1;
  pointer-events: none;
}
.neuron {
  transition: .3s;
  z-index: 0;
}
.neuron.active {
  transform: scale(1.2);
  z-index: 2;
}

.toc-col {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  margin-top: -2em;   
}

.toc a, .toc a:hover {
  text-decoration: none;
}

.toc a.active {
  color: #007bff;
}

.toc-header {
  color: #888;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.7em;
  margin-bottom: 0em;
  margin-top: -1em;
}

.title {
  font-family: "HKGrotesk", Arial;
  font-weight: bold;
}

.title h1 {
  margin-top: -0.1em;
}

/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-down(sm) {
}

/* Medium devices (tablets, 768px and up) */
@include media-breakpoint-down(md) {

}


/* Large devices (desktops, 992px and up) */
@include media-breakpoint-down(lg) {}

/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-down(xl) {}

/* Small devices (landscape phones, 576px and up) */
@include media-breakpoint-up(sm) {}

/* Medium devices (tablets, 768px and up) */
@include media-breakpoint-up(md) {}

/* Large devices (desktops, 992px and up) */
@include media-breakpoint-up(lg) {}

/* Extra large devices (large desktops, 1200px and up) */
@include media-breakpoint-up(xl) {}
